{% extends 'base.html' %}
{% block maincontent %}
<div class="post">




            <h1 align="middle">Intervalo de zancada</h1>
            <h4 align="middle">Stride Interval</h4>
            <h2 align="middle"> Rojas Hernández Sinead Alejandra</h2>
            <h2 align="middle"> Unidad Profesional Interdisciplinaria en Ingeniería y Tecnologías Avanzadas</h2>
<br><br>
  <div class="row">
    <div class="col-md-16">

      <p align="justify">
      </p>

      <h4>Resumen</h4>

      <p align="justify">


      </p>

      <h4>Introducción</h4>

      <p align="justify">

      La marcha es definida como un modo de locomoción bípedo donde se suceden los
      periodos de apoyo monopodal y bipodal [1], que se caracteriza por el hecho de
      que el apoyo nunca se aparta del suelo. La marcha depende de cada individuo, de
      su edad, de sus condiciones fisiológicas y patológicas, así como del tipo de
      superficie sobre la cual se efectúe y, por supuesto la velocidad con la que se
      ejecute.</p>

      <p align="justify">
      Por su parte, el intervalo de zancada es el tiempo comprendido entre pasos de un
      mismo pie [2], siendo estos pasos considerados como tales siempre que el apoyo
      del pie sobre la superficie comience en el talón. De esta manera, dos pasos constituyen
      una zancada, también conocida como ciclo básico de la marcha, cuyo inicio es el
      instante en el que un pie toca el suelo, siendo su fin el momento en el que ese
      mismo pie vuelve a tocar el suelo [3].
      </p>

      <p align="justify">
       Como se menciona con anterioridad, la marcha depende de las condiciones a
       las que se someta al sujeto. Para este efecto, es importante abordar dos
       conceptos: <i> sin restricción (unconstrained)</i> y <i> metrónomo (metronomic)</i>.
      </p>

      <p align="justify">
      <i>Sin restricción </i> significa, de acuerdo con el Diccionario de Oxford,
      no restringido o limitado. <i> Metrónomo </i>, por su parte, es un instrumento
      para medir el tiempo de una composición musical y marcar de modo exacto el
      compás. No obstante lo anterior, un metrónomo no limita su funcionamiento
      al ámbito musical, sino que puede ser utilizado en distintos campos, entre
      ellos la salud y la biología, toda vez que es un dispositivo que marca un
      determinado compás.
      </p>

      <p align="justify">
      Por consiguiente, en el presente trabajo se recopilan los datos correspondientes a
      tres tipos de marcha: normal, rápida y lenta, cada una de ellas efectuada
      con dos ritmos, uno sin restricción y el otro dictado por el metrónomo.
      </p>

      <p align="justify">
      Así pues, los propósitos de la investigación son:
      <ul>
        <li>Aplicar métodos estadísticos sobre las muestras para determinar sus
        medidas de tendencia central, histogramas y funciones acumulativas.</li>
        <li>Aproximar las distribuciones de las muestras a distribuciones de probabilidad. </li>
        <li>Comparar las distribuciones de la muestras correspondientes al rubro
        <i>sin restricción</i> con sus homólogas pertenecientes al rubro
        <i>con metrónomo</i> para determinar si sus comportamientos, desde el
        punto de vista de la Bioestadística, son similares.</li>
      </ul>
      </p>

      <h4>Métodos</h4>

      <p align="justify">
      Se tomaron estudios hechos a cinco hombres jóvenes, de la base de datos
      <i>Unconstrained and Metronomic Walking</i> [4], misma que recopila las
      fluctuaciones en los intervalos de zancada de 10 hombres, que utilizaban
      calzado durante el experimento. Los hombres se encontraban en un rango de
      edad de entre 18 y 29 años de edad, con alturas oscilando entre 1.69 y 1.85 metros, así como un
      peso (masa) de entre 61.1 y 82.5 kilogramos.
      </p>

      <p align="justify">
      Cada sujeto caminó de forma continua a nivel del suelo, en una superficie libre
      de obstáculos de 400 metros. El ciclo básico de la marcha fue medida usando
      interruptores ultrafinos sensibles a la fuerza pegados dentro de uno de los
      zapatos utilizados por el sujeto [2].Los datos fueron registrados en un
      registrador ambulatorio; posteriormente, la señal de marcha registrada fue
      digitalzada, y el tiempo entre pasos fue estimado de forma automática [2].
      </p>

      <p align="justify">
      Siguiendo con lo mencionado en párrafos anteriores, cada sujeto fue sometido
      a diferentes condiciones de marcha:<br><br>

      Sin restricción:
      <ul>
        <li>Sesenta minutos (3600 segundos) a un paso normal, elegido por el sujeto.</li>
        <li>Sesenta minutos (3600 segundos) a un paso más rápido que el normal.</li>
        <li>Sesenta minutos (3600 segundos) a un paso más lento que el normal.</li>
      </ul>
<br>
      Con metrónomo:
      <ul>
        <li>Treinta minutos (1800 segundos) a un paso normal dictado por el metrónomo.</li>
        <li>Treinta minutos (1800 segundos) a un paso rápido dictado por el metrónomo.</li>
        <li>Treinta minutos (1800 segundos) a un paso lento dictado por el metrónomo.</li>
      </ul>
      Cabe mencionar que el valor del paso dictado por el metrónomo en cada uno de los últimos casos
      fue resultado de la media de los intervalos de zancada obtenidos en las pruebas anteriores [2].
      </p>

      <p align="justify">
      Así pues, una vez extraídas las muestras, siendo estas treinta en total,
      de la base de datos <i>Unconstrained and Metronomic Walking</i> [4], se
      procedió a aplicar los métodos estadísticos sobre ellos. Obteniéndose primero
      las medidas de tendencia central (media, varianza y desviación estándar),
      seguidas de cuatro histogramas, uno correspondiente a la frecuencia absoluta,
      otro a la frecuencia relativa, uno más a la frecuencia relativa acumulada,
      y el último a la frecuencia relativa acumulada. Posteriormente se determinaron
      la función de distribución acumulada, así como la sobreviviente, para,
      finalmente llegar a una aproximación de la distribución de las muestras a
      una distribución de probabilidad continua.
      </p>

      <p align="justify">
      En el siguiente enlace se puede accesar a cada una de las muestras y, por
      consiguiente al procesamiento de sus datos.
      <br><br>
      <a href="{% url 'sujeto-list' %}">Sujetos</a>
      </p>

      <p align="justify">
      A continuación se realizaron comparaciones entre las muestras de un mismo tipo,
      es decir, se compararon las muestras catalogadas como <i>sin restricción</i>
      con sus homólogas controladas por el ritmo del metrónomo. En el siguiente
      enlace se puede accesar a dichas comparaciones.
      <br><br>
      <a href="{% url 'category-list' %}">Comparaciones</a>
      </p>

      <h4>Dicusión</h4>

      <p align="justify">


      </p>

      <h4>Conclusión</h4>

      <p align="justify">


      </p>

      <h4>Referencias</h4>

      <p>
[1] Cámara, Jesús. (2011). Análisis de la marcha: sus fases y variables espacio-temporales. Entramado, 7(1), 160-173. Retrieved November 23, 2017, from http://www.scielo.org.co/scielo.php?script=sci_arttext&pid=S1900-38032011000100011&lng=en&tlng=es <br>
[2] Hausdorff JM et al. <i> Fractal dynamics of human gait: stability of long-range correlations in stride interval fluctuations. </i> J Appl Physiol 80:1448-1457, 1996. <br>
[3] Gage JR. <i> An overview of normal walking. </i> En: Instr. Course Lect. No. 39 (1990); p. 291-303.<br>
[4] Hausdorff JM et al. (n.d.). <i> Unconstrained and Metronomic Walking.</i> Retrieved November 23, 2017, from https://physionet.org/physiobank/database/umwdb/
      </p>


      </div>
{% endblock maincontent %}
